"""
All the listed requirements for the program. Make sure these are installed and correctly updated for the environment you are using.
"""

numpy==numpy-1.26.4
matplotlib==3.8.2
gymnasium[all]==0.29.1
minigrid==2.3.1
stable-baselines3[extra]==2.2.1
scipy==1.13.1